/* GLOBAL */
.button {
  border: none;
  background: none;
  outline: none;
  text-align: left;
  font-size: 1.8rem;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #333333;
}
.button_current {
  background-color: #f2f2f2;
}
.button:hover {
  background-color: #f2f2f2;
}
.button:active {
  background-color: #bdbdbd;
}

.text_dark-color {
  color: #333333;
}
.text_medium-color {
  color: #4f4f4f;
}
.text_light-color {
  color: #828282;
}
.text_extra-light-color {
  color: #f2f2f2;
}
.text_light-weight {
  font-weight: 300;
}
.text_regular-weight {
  font-weight: 400;
}
.text_medium-weight {
  font-weight: 500;
}
.text_bold-weight {
  font-weight: 700;
}
.text_black-weight {
  font-weight: 900;
}
.text_size-small {
  font-size: 1.4rem;
}
.text_size-regular {
  font-size: 1.8rem;
}
.text_size-medium {
  font-size: 2.4rem;
}
.text_size-big {
  font-size: 3.6rem;
}
.text_size-huge {
  font-size: 4.8rem;
}
.main-container {
  display: flex;
  flex: 1;
}
.icon-status_new {
  background-image: url(../img/icons.svg);
  background-position: -3px -3px;
}
.icon-status_done {
  background-image: url(../img/icons.svg);
  background-position: -48px -3px;
}
.icon-status_all {
  background-image: url(../img/icons.svg);
  background-position: -90px -3px;
}
.icon-status_delete {
  background-image: url(../img/icons.svg);
  background-position: -177px -3px;
}
.icon-status_edit {
  background-image: url(../img/icons.svg);
  background-position: -132px -3px;
}
