.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f2994a;
  width: 100%;
}
.menu-button {
  display: none;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
}
.Header__menu-button {
  margin-right: 1rem;
}
.menu-button_opened {
  background: url(../img/cross-burger.svg) no-repeat -3rem 0;
}
.menu-button_closed {
  background: url(../img/cross-burger.svg) no-repeat 0 0;
}
.logo {
  text-decoration: none;
  -webkit-text-stroke: 1px #e0e0e0;
  text-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
.Header__logo {
  margin-right: auto;
}
.button-plus {
  position: relative;
  width: 5rem;
  height: 5rem;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
.button-plus:after,
.button-plus:before {
  content: '';
  display: block;
  position: absolute;
  background-color: #828282;
  border-radius: 0.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-plus:after {
  width: 2rem;
  height: 0.25rem;
}
.button-plus:before {
  width: 0.25rem;
  height: 2rem;
}
@media (max-width: 990px) {
  .menu-button {
    display: block;
  }
  .button-plus {
    width: 3rem;
    height: 3rem;
    box-shadow: none;
  }
  .button-plus:after {
    width: 1.6rem;
    height: 0.2rem;
  }
  .button-plus:before {
    width: 0.2rem;
    height: 1.6rem;
  }
  .Header {
    padding: 0.5rem 1rem;
  }
  .logo {
    font-size: 2.4rem;
    font-weight: 700;
    text-shadow: none;
    -webkit-text-stroke: 0px;
  }
}
