.ModalBlock {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.247);
}
.modal-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1120px;
  padding: 4rem 4rem 2rem 4rem;
  transform: translate(-50%, -50%);
  background: #f2f2f2;
  border-radius: 2rem;
}
.modal-form__button_cancel {
  display: none;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background: url(../img/close.svg) no-repeat;
}
.modal-label {
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal-form__modal-label {
  margin-bottom: 1rem;
}
.modal-label__text {
  margin-bottom: 0.5rem;
}
.input {
  border: none;
  padding: 1rem;
  outline: none;
  border-radius: 1rem;
}
.modal-title {
  width: 100%;
  text-align: center;
}
.modal-form__item {
  margin-bottom: 1rem;
}
.modal-form__name {
  width: 100%;
}
.modal-form__warning {
  margin-top: 0.5rem;
  color: #eb5757;
}
.input.warning {
  border: 0.1rem solid #eb5757;
}
.modal-form__date,
.modal-form__priority,
.modal-form__color {
  min-width: 30%;
  margin-right: 2rem;
  flex: 1;
}
.modal-label__input_arrow-disable {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal-form__input-color {
  padding-left: 5rem;
}
.modal-form__color {
  margin-right: 0;
}
.input-icon {
  position: absolute;
  width: 30px;
  height: 30px;
}
.modal-label__input_img-calendar {
  background-image: url(../img/ei_calendar.svg);
  background-repeat: no-repeat;
  background-position: 96% 60%;
}
.modal-label__input_img-arrow-down {
  background-image: url(../img/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 96% 60%;
}
.input-icon_color {
  width: 20px;
  height: 20px;
  top: 32px;
  left: 16px;
  border-radius: 50%;
}
.modal-form__description {
  width: 100%;
}
.modal-form__input-description {
  resize: none;
}
.modal-btn {
  padding: 0.7rem 1rem;
}
.block-buttons__button_cancel {
  margin-right: 1rem;
}
.modal-btn:focus {
  box-shadow: 0px 0px 0px 1px #828282 inset;
  border-radius: 0.5rem;
}
.block-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  border-top: 0.1rem solid #e0e0e0;
}
.modal-form__block-buttons {
  margin-top: 3rem;
}
.modal-form__input-description {
  font-family: Roboto, sans-serif;
}
.block-buttons__button_delete {
  width: 30px;
  height: 30px;
  margin-right: auto;
}
@media (max-width: 1130px) {
  .modal-form {
    width: 984px;
  }
}
@media (max-width: 990px) {
  .modal-form {
    width: 300px;
    padding: 1.6rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0.5rem;
  }
  .modal-title {
    font-size: 1.8rem;
  }
  .modal-form__date,
  .modal-form__priority,
  .modal-form__color {
    min-width: 100%;
    margin-right: 0;
    flex: 1;
  }
  .modal-label__text {
    font-size: 1rem;
  }
  .modal-form__modal-title {
    margin-bottom: 2rem;
  }
  .input {
    font-size: 1.2rem;
    padding: 1.3rem 1rem;
    border-radius: 0.5rem;
  }
  .modal-form__input-color {
    padding-left: 5rem;
  }
  .input-icon_color {
    top: 27px;
    left: 15px;
  }
  .modal-label_last {
    margin-bottom: 0.5rem;
  }
  .modal-form__block-buttons {
    margin-top: 0;
  }
  .block-buttons {
    padding-top: 0.5rem;
  }
  .modal-btn {
    font-size: 1.4rem;
  }
  .modal-form__button_cancel {
    display: block;
  }
  .modal-form__warning {
    font-size: 1rem;
  }
  .block-buttons__button_delete {
    width: 20px;
    height: 20px;
    margin-left: 1rem;
  }
}
