.ModalBlock {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.247);
}
.modal-form {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1120px;
  padding: 4rem 4rem 2rem 4rem;
  transform: translate(-50%, -50%);
  background: #f2f2f2;
  border-radius: 2rem;
}
.modal-label {
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal-form__modal-label {
  margin-bottom: 1rem;
}
.modal-label__text {
  margin-bottom: 0.5rem;
}
.input {
  border: none;
  padding: 1rem;
  outline: none;
  border-radius: 1rem;
}
.modal-title {
  width: 100%;
  text-align: center;
}
.modal-form__item {
  margin-bottom: 1rem;
}
.modal-form__name {
  width: 100%;
}
.modal-form__warning {
  margin-top: 0.5rem;
  color: #eb5757;
}
.input.warning {
  border: 1px solid #eb5757;
}
.modal-form__date,
.modal-form__priority,
.modal-form__color {
  min-width: 30%;
  margin-right: 2rem;
  flex: 1;
}
.modal-form__input-priority {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal-form__input-color {
  padding-left: 5rem;
}
.modal-form__color {
  margin-right: 0;
}
.input-icon {
  position: absolute;
  width: 30px;
  height: 30px;
}
.input-icon_arrow {
  top: 28px;
  right: 16px;
  background: url(../img/icons.svg) -128px -39px;
}
.input-icon_calendar {
  top: 28px;
  right: 16px;
  background: url(../img/icons.svg) 30px 0px;
}
.input-icon_color {
  width: 20px;
  height: 20px;
  top: 32px;
  left: 16px;
  border-radius: 50%;
}
.modal-form__description {
  width: 100%;
}
.modal-form__input-description {
  resize: none;
}
.modal-btn {
  padding: 0.7rem 1rem;
}
.block-buttons__button_cancel {
  margin-right: 1rem;
}
.modal-btn:focus {
  border: 1px solid #828282;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
}
.modal-form__block-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 2rem;
  border-top: 1px solid #e0e0e0;
  margin-top: 3rem;
}
.modal-form__input-description {
  font-family: Roboto, sans-serif;
}
.block-buttons__button_delete {
  width: 30px;
  height: 30px;
  background: url(../img/icons.svg) 60px 0px;
  margin-right: auto;
}
@media (max-width: 1024px) {
  .modal-form {
    width: 984px;
  }
}
