.todos-title-container {
  display: flex;
  justify-content: space-between;
}
.todos-title__name {
  flex-grow: 1;
  flex-basis: 582px;
  margin-right: 2rem;
  padding-left: 4rem;
}
.todos-title__date {
  flex-basis: 163px;
  margin-right: 2rem;
}
.todos-title__priority {
  flex-basis: 255px;
  margin-right: 4rem;
}
.todo {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-top: 2rem;
  padding: 2rem 0rem 0;
  border-top: 1px solid #c4c4c4;
}
.todo__icon {
  margin-bottom: 0.4rem;
}
.todo__color {
  width: 100%;
  height: 8px;
  border-radius: 4px;
}
.todo__name {
  text-decoration: underline;
  cursor: pointer;
}
.todo__edit {
  position: absolute;
  top: 13px;
  right: 3px;
  width: 30px;
  height: 30px;
  background: url(../img/icons.svg) -130px 3px;
  cursor: pointer;
}
.icons {
  position: absolute;
  top: 18px;
  left: 3px;
}
.icons-status {
  width: 24px;
  height: 24px;
}
.todo__text {
  flex-grow: 1;
  flex-basis: 525px;
  margin-right: 2rem;
  padding-left: 4rem;
}
.todo__calendar {
  flex-basis: 163px;
  margin-right: 2rem;
}
.todo__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
  width: 80%;
  color: #828282;
}
.todo__priority {
  flex-basis: 255px;
  margin-right: 4rem;
}
@media (max-width: 1024px) {
  .todo__priority,
  .todo__description,
  .todo__calendar,
  .todos-title__priority,
  .todos-title__date {
    flex-basis: 100px;
  }
  .todo__description {
    max-width: 150px;
  }
}

@media (max-width: 320px) {
  .todos-title,
  .todo__date {
    font-size: 1rem;
  }
  .todo__name,
  .todo__priority {
    font-size: 1.2rem;
  }
  .todo{
    margin-top: 1rem;
    padding: 1rem 0rem 0;
  }
  .icons{
    top: 10px;
    left: 3px;
  }
}
