.table-todo {
  border-collapse: collapse;
  width: 100%;
}
.todo {
  border-top: 0.1rem solid #c4c4c4;
}
.todo__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 411px;
  width: 100%;
  color: #828282;
}
.table-todo__header-cell {
  padding-bottom: 2.5rem;
  text-align: left;
}
.table-todo__header-cell_first {
  padding-left: 4rem;
}
.todo-cell {
  padding: 1rem 0;
  vertical-align: text-bottom;
}
.todo__text {
  position: relative;
  padding: 2.5rem 0 2.5rem 4rem;
}
.todo__calendar {
  width: 17%;
}
.todo__priority {
  position: relative;
  width: 24%;
}
.todo-icons {
  position: absolute;
  top: 48%;
  left: 0.3rem;
  transform: translateY(-50%);
}
.todo-icons__icon-status {
  margin-bottom: 0.4rem;
}
.todo__edit {
  position: absolute;
  top: 25%;
  right: 0px;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../img/icons.svg) -130px -1px;
  cursor: pointer;
}
@media (max-width: 1130px) {
  .todo__description {
    max-width: 317px;
  }
}
@media (max-width: 990px) {
  .todo__description {
    max-width: 100px;
  }
  .table-todo {
    margin: 0 1rem;
    width: calc(100% - 2rem);
  }
  .todo__text {
    padding: 1rem 0 1rem 3rem;
    width: 30%;
  }
  .table-todo__header-cell {
    padding-bottom: 0.5rem;
    font-size: 1rem;
  }
  .table-todo__header-cell_first {
    padding-left: 1rem;
  }
  .todo-cell {
    font-size: 1.2rem;
  }
  .todo__description,
  .todo__time {
    font-size: 1rem;
  }
  .todo__edit {
    top: 7px;
  }
  .todo-icons__icon-status {
    margin-bottom: 0.1rem;
  }
}
